# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log